table{
    background-color: yellow;
    border:1px solid black;
    border-collapse: separate;

    padding: 0.2rem;
}
#captions{
    font-weight: bold;
	padding:0.2rem;
}

th,tr,td{
	border: 1px solid black;
}
